// Many of these are imported directly from AdventureMaker

// If we need a card
.card {
  background-color: $gray-800;
  border: 1px solid $gray-700;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

#menu {
  height: 50vh;
  background-color: $gray-800;
  display: flex;
  flex-direction: column;
  padding: 1rem; // Space from edges
  gap: 0.5rem; // Space between buttons

  form {
    flex: 1;
    display: flex;
  }
}

.btn-primary {
  background-color: $gray-700;
  border-color: $gray-500;
  color: $gray-100;
  width: 100%;
  flex: 1; // Makes buttons grow to fill available space equally
  font-size: 1.25rem;
  padding: 1rem 1.5rem;
  display: flex;
  align-items: center;
  justify-content: center;

  &:hover {
    background-color: $gray-600;
    border-color: $gray-500;
  }
}

#scene {
  height: 50vh;
  display: flex;
  flex-direction: row;
  gap: 2rem;
  padding: 1rem;
  position: relative;
  background-image: url('backgrounds/origbig.png');
  background-size: cover;
  background-position: bottom;
  background-repeat: no-repeat;
  overflow: hidden;
}

.character-container {
  flex: 1; // Each takes 50% width
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.sprite-container {
  // flex: 1;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  padding-bottom: 1rem;

  .player-sprite {
    height: 30vh;
    max-height: 100%;
    max-width: 100%;
    object-fit: contain;
  }

  .enemy-sprite {
    height: 10vh;
    max-height: 100%;
    max-width: 100%;
    object-fit: contain;
  }
}

.healthbar-container {
  width: 100%;
  margin-bottom: 0.5rem; // gap between healthbar and sprite
  color: red;

  // centering text
  display: flex;
  justify-content: center;
  align-items: flex-end;
  text-align: center;
}

.textbox-container {
  position: absolute;
  bottom: 0.5rem;
  left: 0.5rem;
  right: 0.5rem;
  height: 33%;
  font-size: clamp(0.875rem, 5vw, 1.5rem);
  background-color: rgba($gray-900, 0.4);
  padding: 1rem;
  border-radius: 0.5rem;
  color: $gray-100;

  // text alignment settings
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}
