<div class="healthbar-wrapper">
  <div class="healthbar-bg">
    <div class="healthbar-fill" data-answer-feedback-target="playerHealthbar"
    style="width: <%= (@fight.player_hitpoints.to_f / @fight.user.hitpoints * 100).round %>%"></div>
    <span class="healthbar-text" data-answer-feedback-target="playerHealthText"><%= @fight.player_hitpoints %>HP</span>
  </div>
</div>
