<% @question.answers.each_with_index do |answer,index| %>
  <%= simple_form_for @fight_question do |f| %>
    <input type="hidden" name="fight_question[selected_index]" value="<%= index %>">
    <button class="btn btn-primary"> <%= answer %></button>
  <% end %>
<% end %>
